@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

  :root {
    --font-family: 'Orbitron', sans-serif;
    
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-text: #458fd9;
    --color-subtext: #FF8A71;
  }